/*inicio configuração geral*/
:root {
    --cor-dourado: #A48C39;
    --cor-vermelho: #6A1B1B;
}

/*resetando as margens e configurando o padrão das paginas*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    
}
/*padronizando o container da página*/

.container {
    width: 90%;
    height: 90%;
    margin:auto;
}

/*estilizando o header*/
#header {
    width: 100%;
    height: 15vh;
    background-color: var(--cor-vermelho);
    display: flex;
    justify-content: space-between;
   
    
}

#header a {
    color: white;
}


.detalheHeader {
    height: 100%;
    width: 1%;
    background-color: var(--cor-dourado);
}

#elementosHeader {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

#elementosHeader ul {
    width: 40vw; 
    list-style: none;
    display: flex;
    justify-content: space-between;

}
#elementosHeader #areaMagos {
    font-weight: bold;

}

#elementosHeader img {
    height: 14vh;
}
/*footer*/

.footer {
    background-image: url(Imagens/Logo\ Branco\ background.png);
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position: center;
    background-color: rgba(10,23,55,0.5);
    height: 80px;
    background-color: var(--cor-vermelho);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    height: 70px;
    
}

/*fim configuração geral*/

/*inicio index*/
    /*configuração do banner*/

#banner {
    background: url('/Imagens/sanctum\ background\ blur.png');
    height:100vh;
    background-size:cover;
    text-align: center;
    
}

#banner h1 {
    margin: auto;
    width: 700px;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    
}
#banner p {
    margin-top: 100px;
    font-size: 30px;
}
#banner .botoesBanner  {
    margin: auto;
    width: 500px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    
}

.botaoVermelho {
    background-color: var(--cor-vermelho);
    color: white;
}

.botaoDourado {
    background-color: var(--cor-dourado);
    color: white;
}

#elementosBanner a {
    
    width: 200px;
    border-radius: 15px;
   
}

#banner .botaoDourado:hover {
    background-color: #7a630e;
    transition: 0.5s;
}

#banner .botaoVermelho:hover {
    background-color: #440e0e;
    transition: 0.5s;
}





/*primeira parte*/
#sobre {
    height: 450px;
    text-align: center;
}

#sobre h1 {
    margin-top: 50px;
    
    font-size: 45px;
}

#sobre p {
    margin-top: 100px;
    font-size: 23px;
}

/*parte sobre o sanctum*/

#sobreSanctum {
    height: 580px;
    background-color: var(--cor-vermelho);
}

#sobreSanctum .container img {
    height: 326px;
    
}

#sobreSanctum .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#botaoTexto {
    width: 613px;
    font-size: 30px;
    text-align: center;
    color: white;
    
}

#botaoTexto a{
    width: 100%;
    border-radius: 10px;
}

/*ultima parte*/

#eventos {
    height: 150px;
    text-align: center;
}

#eventos .container a {
    width: 100px;
    font-size: 25px;
    border-radius: 10px;
    
}

/*fim index*/

/*tela herois*/
#herois {
    background-color: #440e0e;
    
    height: 120vh;
    
}
#herois .container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
#herois .container div {
    margin-top: 50px;
}
#drEstranho p {
    margin-left: 30px;
}
#wong p {
    margin-right: 30px;
}
#wong {
    text-align: right;
    
}
#ancia p {
    margin-left: 30px;
}
.divHeroi {
    display: flex;
}
.divHeroi img{
    
    height: 200px;
    border-radius: 10px;
    border: #A48C39 solid ;
}
/*fim tela herois*/

/*inicio tela do sanctum*/
#conteudoSanctum {
    background-color: #440e0e;
    height: 450vh;
    color: white;
}

.divArtefato {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divArtefato p {
    font-size: 20px;
    text-align: center;
}

.divArtefato img {
    border-radius: 10px;
    border: #A48C39 solid ;
    max-height: 500px;
}

h2 {
    text-align: center;
}

#conteudoSanctum h1 {
    margin-top: 20px;
    text-align: center;
}

/*inicio tela de login*/
#elementosBannerLogin {
    height: 100%;
    
}

#elementosBannerLogin .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#elementosBannerLogin .container form {
    display: flex;
    flex-direction: column;
}

#elementosBannerLogin .container form input {
    margin-top: 10px;
    width: 280px;
    height: 55px;
    color: white;
    background-color: var(--cor-vermelho);
    border: solid var(--cor-dourado);
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 15px;
}

#elementosBannerLogin .container h1 {
    
    font-weight:900;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.2px white;
}
#elementosBannerLogin .container button{
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    margin-top: 30px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--cor-dourado);
}

#elementosBannerLogin .container button:hover {
    cursor: pointer;
    background-color: #7a630e;
    transition: 0.5s;
}

/*tela dos magos*/

/*header*/

.headerDash {
    background-color: var(--cor-vermelho);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerDash #logo{
    height: 14vh;
}
.headerDash #sair {
    height:38px;
}

/*fim header*/

#conteudo {
    background-color: #440e0e;
    height: 85vh;
    display: flex;
    align-items: center;

}

#conteudo div {
    border-radius: 10px;
}

#fr1, #fr3 {
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fr2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

#professores, #livros  {
    width: 90%;
    height: 90%;
    background-color: white;
    overflow: auto;
}

.box_aluno {
    background-color: rgb(192, 192, 192);
    margin-bottom: 20px;
    width: 90%;
    margin: 10px auto;
}

#grafico {
    width: 90%;
    height: 65%;
    background-color: white;
}

#info {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    
}

#infoNome {
    color: var(--cor-dourado);
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reputacao {
    background-color: white;
    width: 30%;
    text-align: center;
}

#reputacao h1 {
    margin-top: 0;
}
#reputacao h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#professores, #livros, #grafico, #reputacao {
    border: var(--cor-dourado) solid 3px;
}

#livros a {
    border-radius: 10px;
    padding: 4px;
    
}
#btAddMago {
    border-radius: 10px;
    padding: 2px;
}

#btAddMago:hover {
    background-color:#7a630e;
    transition: 0.5s;

}

/*tela add mago*/
#conteudoAdd {
    background-color: #440e0e;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#conteudoAdd div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}

#conteudoAdd div input, select, button {
    border: 3px var(--cor-dourado) solid;
    margin-bottom: 10px;
    height: 31px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
}

#conteudoAdd div textarea{
    border-radius: 10px;
    border: 3px var(--cor-dourado) solid;
    font-size: 20px;
    margin-bottom: 10px;
    width: 250px;
}

#conteudoAdd h1 {
    margin-top: 10px;
    font-size: 40px;
    color: white;
}

#conteudoAdd div button:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    transition: 0.5s;
    color: var(--cor-dourado);
}



#botaoVoltar {
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
}

#botaoVoltar:hover {
    background-color:#7a630e;
    transition: 0.5s;
}





