:root {
    --cor-dourado: #A48C39;
    --cor-vermelho: #6A1B1B;
}

/*resetando as margens e configurando o padrão das paginas*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    
}
/*padronizando o container da página*/

.container {
    width: 90%;
    height: 100%;
    margin:auto;
}

/*estilizando o header*/
#header {
    width: 100%;
    height: 15vh;
    background-color: var(--cor-vermelho);
    display: flex;
    justify-content: space-between;
   
    
}

#header a {
    color: white;
}


.detalheHeader {
    height: 100%;
    width: 1%;
    background-color: var(--cor-dourado);
}

#elementosHeader {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

#elementosHeader ul {
    width: 40vw; 
    list-style: none;
    display: flex;
    justify-content: space-between;

}
#elementosHeader #areaMagos {
    font-weight: bold;

}

#elementosHeader img {
    height: 14vh;
}

/*configuração do banner*/

#banner {
    background: url('/Imagens/sanctum\ background\ blur.png');
    height:100vh;
    background-size:cover;
    text-align: center;
    
}

#banner h1 {
    margin: auto;
    width: 700px;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    
}
#banner p {
    margin-top: 100px;
    font-size: 30px;
}
#banner .botoesBanner  {
    margin: auto;
    width: 500px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    
}

.botaoVermelho {
    background-color: var(--cor-vermelho);
    color: white;
}

.botaoDourado {
    background-color: var(--cor-dourado);
    color: white;
}

#elementosBanner a {
    
    width: 200px;
    border-radius: 15px;
   
}

#banner .botaoDourado:hover {
    background-color: #7a630e;
    transition: 0.5s;
}

#banner .botaoVermelho:hover {
    background-color: #440e0e;
    transition: 0.5s;
}





/*primeira parte*/
#sobre {
    height: 450px;
    text-align: center;
}

#sobre h1 {
    margin-top: 50px;
    
    font-size: 45px;
}

#sobre p {
    margin-top: 100px;
    font-size: 23px;
}

#botaoHerois {
    font-size:20px;
    font-weight: bold;
    
}




